body{
    align-items: center;
    background-image: url(chama_azul.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top;
    margin-top: 100px;
    margin-bottom: none;
    padding: 0;
    border: 0;
    }